# GEO / sequencing data
GSE*/
*.gz
*.tar
*.fastq
*.fq
*.bam
*.sam

# Expression matrices
*.h5ad
*.loom
*.rds

# Results folders
results/
output/
downstream_results/
post_processed_data/

# R / Python junk
.Rhistory
.RData
.Rproj.user/
__pycache__/
*.pyc

#images
.png
.jpeg
.pdf


# macOS
.DS_Store
EOF

Project_1/downstream_results/
*.RData
